<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>OnlinePlotRental</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RentSearchServlet</servlet-name>
        <servlet-class>com.opr.servlets.RentSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.PropertyFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.opr.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefualtSearchServlet</servlet-name>
        <servlet-class>com.opr.servlets.DefualtSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.ImageFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.VideoFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyDetailsServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.PropertyDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationFetchingServlet</servlet-name>
        <servlet-class>com.opr.servlets.LocationFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAcceptProperty</servlet-name>
        <servlet-class>com.opr.servlets.AdminAcceptProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapLoadingAjaxServlet</servlet-name>
        <servlet-class>com.opr.servlets.MapLoadingAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailedMapLoadingServlet</servlet-name>
        <servlet-class>com.opr.servlets.DetailedMapLoadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBooking</servlet-name>
        <servlet-class>com.opr.servlets.RemoveBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.opr.servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlotFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.PlotFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlotSubmitServlet</servlet-name>
        <servlet-class>com.opr.servlets.PlotSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletePropertyAjaxServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.CompletePropertyAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookedListAjaxServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.BookedListAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCityFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.AjaxCityFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPlaceFetchingServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.AjaxPlaceFetchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefaultPlotServlet</servlet-name>
        <servlet-class>com.opr.servlets.DefaultPlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlotRentSearchServlet</servlet-name>
        <servlet-class>com.opr.servlets.PlotRentSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlotSaleServlet</servlet-name>
        <servlet-class>com.opr.servlets.PlotSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>com.opr.servlets.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyAddServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.PropertyAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiPartServlet</servlet-name>
        <servlet-class>com.opr.ajax.servlet.MultiPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OprWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaleSearchServlet</servlet-name>
        <url-pattern>/SaleSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentSearchServlet</servlet-name>
        <url-pattern>/RentSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyFetchingServlet</servlet-name>
        <url-pattern>/PropertyFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefualtSearchServlet</servlet-name>
        <url-pattern>/DefualtSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageFetchingServlet</servlet-name>
        <url-pattern>/ImageFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoFetchingServlet</servlet-name>
        <url-pattern>/VideoFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDetailsServlet</servlet-name>
        <url-pattern>/PropertyDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationFetchingServlet</servlet-name>
        <url-pattern>/LocationFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAcceptProperty</servlet-name>
        <url-pattern>/AdminAcceptProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapLoadingAjaxServlet</servlet-name>
        <url-pattern>/MapLoadingAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailedMapLoadingServlet</servlet-name>
        <url-pattern>/DetailedMapLoadingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBooking</servlet-name>
        <url-pattern>/RemoveBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlotFetchingServlet</servlet-name>
        <url-pattern>/PlotFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlotSubmitServlet</servlet-name>
        <url-pattern>/PlotSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletePropertyAjaxServlet</servlet-name>
        <url-pattern>/CompletePropertyAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookedListAjaxServlet</servlet-name>
        <url-pattern>/BookedListAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCityFetchingServlet</servlet-name>
        <url-pattern>/AjaxCityFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPlaceFetchingServlet</servlet-name>
        <url-pattern>/AjaxPlaceFetchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefaultPlotServlet</servlet-name>
        <url-pattern>/DefaultPlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlotRentSearchServlet</servlet-name>
        <url-pattern>/PlotRentSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlotSaleServlet</servlet-name>
        <url-pattern>/PlotSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyAddServlet</servlet-name>
        <url-pattern>/PropertyAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiPartServlet</servlet-name>
        <url-pattern>/MultiPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OprWebService</servlet-name>
        <url-pattern>/OprWebService</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleSearchServlet</servlet-name>
        <servlet-class>com.opr.servlets.SaleSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
</web-app>
